$color3:#5b1f00;
$color2:#743414;
$color1:#b96e48;
$color0:#eecebe;
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color0;
}

.registre {
    margin: 25px;
    padding: 25px;
}